<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}<title>main</title>{% endblock %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'styles/main.css' %}" rel="stylesheet">
  </head>
  <body>
    
    <!---------------- flash messages ------------------->
      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }} message"{% endif %}>{{ message }} <i style="font-size:16px" class="fa cancel-message">&#xf00d;</i></li> 
    {% endfor %}
      </ul>
    {% endif %}
    
    {% block content %}
      
     
        
     
    {% endblock %}
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>