<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Sign up </title>
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="{% static 'styles/login.css' %}" rel="stylesheet">
   </head>
   <body>
 <!---------------- flash messages ------------------->
      {% if messages %}
      <ul class="messages">
      {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} message"{% endif %}>{{ message }} <i style="font-size:16px" class="fa cancel-message">&#xf00d;</i></li> 
    {% endfor %}
      </ul>
     
      {% endif %}
    <!------------------- end of flash messages ------------->
     <div class="wrapper">
      <div class="title signup">
               Signup
            </div>
            <div class="form-inner">
            <form action="#" class="signup" method="POST">
              {% csrf_token %}
             
              {% for field in form %}
              <div>
              
                  <div class="field register-field">
                    <label>{{field.label}}</label>
                    {{field}}
              {% for error in field.errors %}      
          <p class="form-error">{{ error }}</p>
              {% endfor %}   
            </div>

              </div>

                  {% endfor %} 
              
                  <div class="field btn register-field">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                  </div>
                <div class="signup-link">
                    Already have an account? <a href="{% url 'login' %}">Login</a>
                  </div>
               </form>
              
           </div>
           
         </div>
  <script src="{% static 'js/index.js' %}"></script>
   </body>
</html>