@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #0E1525;
    --info: #0053A6;
    --completed: hsl(141, 60%, 49%);
    --search-bar: #2B3245;/* also border color */
    --card-color: #1C2333;
    --white: #fff;
    --pink: #FF0000;
    --black: #000;
    --light-grey: lightgrey;
    --github-dark: #0D1117;
  }
html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.container{
    width: 550px;
    height: 600px;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    background-color: #FFF;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav{
    flex: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--search-bar);
    color: #fff;
}
.contents{
    flex: 5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.search-add{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

li{
    list-style-type: none;
}

.logout{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.user{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 10px;
}

.contents>li{
    display: flex;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-color: #efefef;
    border-style: solid;
    padding: 15px 10px;
    justify-content: space-between;
}

.add-task>a{
  color: black;
}
.add-task,.delete-task,.logout>a{
    cursor: pointer;
}

p,.delete-task,.logout>a{
    font-size: 20px;
}
.delete-task:hover{
    color:  var(--pink);
}

.add-task{
    font-size: 30px;
}

.task{
    cursor: pointer;
}
p.status{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #efefef;
    cursor: none;
}

.task-span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar{
    width: 200px;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    padding-left: 5px;
  border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-bar:focus{
  border: 2px solid var(--info);
  outline: none;
}

.search-btn{
    height: 30px;
    padding: 0px 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
a{
  text-decoration: none;
}
.task>a,.add-task:active{
  color: black;
}
.logout>a{
  color: white;
}

/* delete */
.delete-task{
  color: black;
}

.delete-container{
    width: 550px;
    height: 150px;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    background-color: #FFF;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.delete-task:hover{
    color:  var(--pink);
}

.delete-btn{
    width: 80px;
    height: 30px;
    border: 1px solid red;
    color: red;
    background-color: #fff;
    border-radius: .25rem ;
    font-size: 16px;
}

.delete-btn:hover{
    background-color: red;
    color: white;
    
}

.delete-nav{
    flex: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: var(--search-bar);
    color: #fff;
    padding: 5px 10px;
}

.delete-contents{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
    overflow: hidden;
}

.delete-nav>a{
color: var(--white);
font-size: 20px;
}

/* delete */

/* flash messages */

.success,.error,.info{
  padding: 1rem;
  font-size: 1rem;
  border-radius: .5rem;
  margin-bottom: 5px;
  position: absolute;
  top: 10px;
}

.success{
   background-color: var(--completed);
  color: var(--white);
}
.error{
  background-color: var(--pink);
  color: var(--white);
}

.info{
  background-color: var(--info);
  color: var(--white);
}
.cancel-message{
  cursor: pointer;
}

.cancel-message:hover{
  color: var(--pink);
}

/* flash messages */

a{
  text-decoration: none;
}
p.checked{
  background-color: var(--completed) !important;
}